:root {
    --color1: rgba(0, 136, 169, 1);
    --color1-hover: rgba(0, 136, 169, 0.8);
}

/* Set padding to keep content from hitting the edges */
body {
    background-color: #24252a !important;
    height: 100vh;
    color: white
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon-button {
    margin-right: 5px;
}

.icon-button::before {
    margin-right: 5px;
}


.actions-row {
    width: 300px;
}

td {
    text-align: center !important;
    vertical-align: middle !important;
    color: white;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.4);
}

.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    color: white;
}

.main-container {
    padding: 90px 0;
    position: relative;
}

.sign-up-content {
    padding: 40px 60px 32px 60px;
    position: relative;
    z-index: 99;
}

.sign-up-content h2 {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.sign-up-container {
    width: fit-content;
    color: #525252;
}

.form-container {
    width: 520px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

.form-container .row {
    color: #525252;
    width: 400px;
}

.form-container .row > * {
    padding-left: 0;
}

.form-container .row input:not(#fich) {
    padding-left: 1rem;
}

.form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.user-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo {
    max-width: 80px;
    border-radius: 50%;
}

input:read-only:not(.btn), input:read-only:focus:not(.btn) {
    background-color: #f0f0f0; /* Light grey background */
    color: #888; /* Grey text color */
    border: 2px solid #ccc; /* Grey border */
    cursor: not-allowed; /* Not-allowed cursor */
}

th,
td {
	color: #edf0f1 !important;
}

th {
	text-align: center !important;
}

tr {
	border-color: gray !important;
	padding-top: 0.25rem;
}

.table-header {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1);
}


#search-container {
	max-width: 500px;
}

#search {
	background: transparent !important;
	border: 1px solid var(--color1) !important;
	color: white !important;
}

#search-container .input-group-text {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1) !important;
}

#search-container .input-group-text i {
	color: white !important;
}

/* Datatable styles */
#team-table_filter {
	display: flex;
	justify-content: end;
	margin-bottom: 0.5rem;
}

#team-table_filter input {
	background: transparent !important;
	padding: 0.25rem 0.5rem;
	width: 350px;
	min-height: 30px;
	border-radius: 0.25rem;
	border: 1px solid var(--color1) !important;
	color: white !important;
}

#team-table_filter input:focus {
	outline: none;
}

#team-table_length {
	display: flex;
	gap: 0.5rem;
}

#team-table_length select {
	border: 1px solid var(--color1) !important;
	color: #edf0f1;
	padding: 0.4rem 0.5rem;
}

#team-table_length select option {
	color: var(--color1);
}

.actions-row .edit-button {
	margin-right: 0.5rem;
}

#team-table_info {
	color: #edf0f1;
}

#team-table_paginate,
#team-table_next,
#team-table_previous {
	color: #edf0f1 !important;
}

#team-table_previous:not(.disabled):hover,
#team-table_next:not(.disabled):hover {
	color: var(--color1) !important;
	background: none !important;
	border: none !important;
	cursor: pointer;
}

.paginate_button.current {
	background: var(--color1) !important;
	border: 1px solid var(--color1) !important;
	border-radius: 0.25rem;
	cursor: pointer !important;
}

span .paginate_button:not(.current):hover {
	background: none !important;
	border: 1px solid var(--color1) !important;
	border-radius: 0.25rem;
}

option {
    background: black;
    border: none;
}