@{
    ViewBag.Title = "Home Page";
}


<div id="cards-container" class="d-flex w-100 h-75 align-items-center justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="~/fotos/players/Ronaldo.jpg" class="card-img-top" alt="ronaldo">
        <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="card-text">Explore all the avaible players, find their teams and where they come from!</p>
            @Html.ActionLink("See Players", "PlayerList", "Player", null, new { @class = "card-btn btn btn-primary" })
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/fotos/teams/Equipas.jpg" class="card-img-top" alt="equipas">
        <div class="card-body">
            <h5 class="card-title">Teams</h5>
            <p class="card-text">Discover football teams' histories, their foundation year and the country they were born in!</p>
            @Html.ActionLink("See Players", "TeamList", "Team", null, new { @class = "card-btn btn btn-primary" })
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/fotos/coaches/jose-mourinho.jpg" class="card-img-top" alt="jose mourinho">
        <div class="card-body">
            <h5 class="card-title">Trainers</h5>
            <p class="card-text">Explore our team's coaches and their history, capabilities, license and more!</p>
            @Html.ActionLink("See Players", "TrainerList", "Trainer", null, new { @class = "card-btn btn btn-primary" })
        </div>
    </div>
</div>
